<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入angular的js -->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 引入分页相关的JS和CSS -->
    <script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!--引入模块-->
    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <!--基础控制器,baseController-->
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <!--引入brandController-->
    <script type="text/javascript" src="../js/controller/userManagerController.js"></script>
    <!--引入brandService-->
    <script type="text/javascript" src="../js/service/userManagerService.js"></script>
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="userManagerController" ng-init="findAll()">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">用户管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">
        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">用户名</th>
                <th class="sorting">最后一次登录时间</th>
                <th class="sorting">状态</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td><input type="checkbox" ng-click="updateSelection($event,entity.id)"></td>
                <td>{{entity.username}}</td>
                <td>{{entity.updated}}</td>
                <td>{{entity.status}}</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" ng-click="findById(entity.id)" data-toggle="modal"
                            data-target="#editModal">修改
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
        <!--数据列表/-->


    </div>
    <!-- 数据表格 /-->
    <!-- 分页 -->
    <tm-pagination conf="paginationConf"></tm-pagination>

</div>
<!-- /.box-body -->
</div>
</body>
</html>